*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.nav-logo{
    height: 50px;
    width: 100px;
    /* margin-left: 10px; */
    
}
.nav-icon{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1px solid transparent;
    cursor: pointer;
}
.border:hover{
    border: 1px solid white;
}
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 20px;
    align-items: center;
}
.add-sec{
    font-size: 1rem;
    font-weight: 600;
}
.add-loc{
    display: flex;
    align-content: center;
}
.nav-search{
    display: flex;
    height: 45px;
    width: 620px;
    border-radius-left-top:10px;
    justify-content: space-evenly;
}
.search-select{
    width: 60px;
    /* text-align: center; */
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    padding-left: 6px;
}
.search-input{
    width: 100%;
    border: none;
    padding-left:10px;
    font-size: 1rem;
}
.search-icon{
    height: 45px;
    width: 60px;
    background-color: #fea531;
    text-align: center;
    color: #0f1111;
    font-size: 1.2rem;
    align-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
select option {
    padding: 6px 10px;         
    font-size: 14px;
    text-align: left;          
}
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-weight: 700;
}
.nav-search:hover{
    border: 2px solid orange;
    cursor: pointer;
}
.nav-cart i{
    font-size: 35px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.center-panel p{
    display: inline;
    margin-left: 15px;
}
.center-panel{
    width: 70%;
    font-size: 0.85rem;
}
.shop-panel{
    font-size: 0.9rem;
    font-weight: 700;
}
.touch:hover{
    text-decoration: underline;
    cursor: context-menu;
}
.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.hero-msg{
    width: 95%;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    /* font-size: 1rem; */
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 280px;
    background-size: cover;
    /* background-size: ; */
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box p{
    color: #007185;
}
.footer-panel1{
    margin-top: 0px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
    font-size: 0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
ul{
    margin: 20px;
}
ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
    text-decoration: none;
}
.footer-panel2 p{
    font-weight: 600;
}
